*{
	/*border: 1px solid black;*/
}
body{
	padding: 0;
	margin: 0;
	min-width: 950px;
}
#header{
	height: 110px;
	background-color: black;
}
#title{
	overflow: hidden;
	padding: 10px;
	margin: 0;
}
#titleImg{
	width: 105px;
	float: left;
	margin-left: 2.5%;
	display: inline;
}
#search{
	height: 30px;
	display: inline-block;
	margin:10px 0 0 25px;
	padding:0px;
	background-color: black;
}
#search input{
	width: 150px;
	height: 30px;
	background-color: black;
	outline: none;
	margin: 0;
	border: none;
	text-align: center;
	color: #c1b497;
}
#search input:hover{
	background-color:#fff;
	color: #c1b497;
}
#search img{
	width: 15px;
	margin: -1px 7px 5px 7px;
	cursor: pointer;
}
#changeColor{
	padding: 0;
	overflow: hidden;
	float: right;
	margin: 15px 2.5% 0 0 ;
}
#changeColor li{
	width: 15px;
	height: 15px;
	float: left;
	list-style-type: none;
	margin: 3px;
	border: 1px solid grey;
	cursor: pointer;
}
#menu{
	padding: 0;
	overflow: hidden;
	width: 70%;
	margin: 0 auto; 
	min-width: 610px;
}
#menu li{
	width: 18%;
	min-width: 90px;
	height: 40px;
	float: left;
	list-style-type: none;
	text-align: center;
	line-height: 30px;
	margin: 0 1%;
}
#menu li a{
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	
	cursor: pointer;
	text-decoration: none;
}
#menu li a:hover{
	color: #c1b497;
}
#menu .nav{
	position: absolute;
	overflow: hidden;
	width: 90%;
	top: 110px;
	left: 5%;
	padding: 1%;
	background-color: rgba(0,0,0,0.03);
	display: none;
}
#menu .nav .list{
	display: inline-block;
	overflow: hidden;
	text-align: center;
	padding: 0;
	vertical-align: top;
}
#menu .nav .list li:first-child{
	margin: 5px 0;
	font-size: 14px;
	font-weight: bolder;
}
#menu .nav .list li{
	float: none;
	width: 150px;
	height: 28px;
	font-size: 10px;
	text-align: left;
	padding-left: 10px;
	color: 	#5B5B5B;
	cursor: pointer;
}
#menu .nav .list li:hover,#commodity #list_1 ul li:hover{
	text-decoration: underline;
	color: #c1b497;
}
#content{
	margin: 10px auto;
	width: 85%;
	min-width: 950px;
	padding: 5px 10px;
}
#commodity{
	padding: 0;
	max-width:250px;
	border: 1px solid grey;
}
#commodity h4{
	margin: 0;
	height: 35px;
	background-color: black;
	color: #fff;
	padding: 7px;
	font-size: 18px;
}
#commodity #list_1{
	background-color: #fff;
	margin: 0;
	padding: 0 5px;
}
#commodity #list_1 h5{
	font-weight: bold;
	height: 33px;
	margin: 0;
	padding-left: 10px;
	line-height: 33px;
	border-bottom: 1px solid grey;
}
#commodity #list_1 ul{
	padding: 0px;
	width: 95%;
	margin: 0 auto;
	list-style-type: none;
	overflow: hidden;
}
#commodity #list_1 ul li{
	width: 45%;
	margin: 2px 2%;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	float: left;
	cursor: pointer;
}
#show{
	width: calc(100% - 270px);
	padding: 0;
	margin-left: 10px;

}
#showUp{
	margin: 0;
	padding: 0;
	height: 353px;
}
#showUp #upOll{
	width: calc(100% - 250px);
	min-width: 400px;
	padding: 0;
}
#showUp #upOll>div{
	width: 100%;
	height: 80%;
	overflow: hidden;

}
#showUp #upOll img{
	width: 100%;
	height: 350px;
	position: absolute;
	cursor: pointer;
}
#showUp #upOll ul{
	list-style-type: none;
	padding: 0;
	position: absolute;
	top: 315px;
	width: 100%
}
#showUp #upOll ul li{
	list-style-type: none;
	float: left;
	width: 25%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background-color: black;
	font-size: 15px;
	font-weight: bold;
	opacity: 0.5;
	border: 1px solid #fff;
	cursor: pointer;
}
#showUp #upOll .light{
	opacity: 0.6;
	background-color: #fff;
	color: black;
}
#bg-2,#bg-3,#bg-4{
	display: none;
}
#showUp #upNews{
	width: 250px;
	padding: 0 0 0 10px;
}
#showUp #upNews img{
	width: 100%;
	height: 150px;
}
#upNews #news{
	width: 100%;
	border: 1px solid grey;
	margin-top: 8px;
	height: 190px;
}
#upNews #news h5{
	height: 25px;
	font-size: 15px;
	font-weight: bolder;
	border-bottom: 1px solid grey;
	padding-left: 10px;
} 
#news ul{
	list-style-type: none;
	padding: 5px;
}
#news ul li{
	font-size: 13px;
	color: grey;
	margin:4px 0;
	cursor: pointer;
}
#tooltip{
	position: absolute;
	border: 1px solid #333;
	background-color: grey;
	padding: 1px;
	color: #fff;
	display: none;
	opacity: 0.7;
}
#showDown{
	width: 100%;
	padding: 0;
	margin-top: 5px;
	/*height: 203px;*/
}
#showDown #downText{
	height: 25px;
	border-bottom: 1px solid grey;
}
#showDown #downText h5{
	margin: 0;
	display: inline-block;
	width: 80px;
	font-size: 15px;
	font-weight: bolder;
}
#showDown #downText ul{
	list-style-type: none;
	padding: 0;
	float: right;
}
#showDown #downText ul li{
	list-style-type: none;
	float: left;
	margin: 0 7px;
	width: 50px;
	height: 20px;
	line-height: 20px;
	background-color: #c1b497;
	color: #fff;
	text-align: center;
	font-size: 12px;
	font-weight: bolder;
}
#showDown #downList{
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
}
#downList ul{
	width: 100%;
	list-style-type: none;
	padding:1% 0 0 0 ;
	overflow: hidden;
}
#downList ul li{
	list-style-type: none;
	float: left;
	width: 23%;
	margin: 0 1%;
}
#downList ul li img{
	width: 100%;
	max-height: 120px;
}
#footer{
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: black;
}
#footer a{
	color:#fff;
	text-decoration: none;
}
#footer a:hover{
	color: #c1b497;
	text-decoration: underline;
}